.instagram {
  .slick-arrow {
    background-color: $white;
    svg {
      color: $black;
    }
  }
  h4 {
    color: $black;
  }
  .row {
    background-color: $color-primary;
    @include max-576 {
      border-radius: 0;
    }
    border-radius: 20px;
  }
}

.linkto-instragram {
  text-decoration: none;
}